{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Furniture Shop</h1>
        <p class="lead">
            We proudly design and develop our entire
            range of furniture products in India. We combine
            creativity, craftsmanship and technology to
            create furniture suited for discerning customers,
            locally and internationally.
            <br><br>
            We have gained considerable experience
            dealing with large format retail companies and
            online stores, in India and abroad. Most of our
            materials are sourced in India, ensuring high
            quality and reduced carbon footprint.
        </p>
        <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">Button</a>
    </div>
</main>
{% endblock content %}